<nav class="sidebar sidebar-offcanvas"  style="margin-top:0px;">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>


        
    
        <li class="nav-item">
            <a class="nav-link"  routerLink="/admin/farmers"  routerLinkActive="active">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Farmer</span>
            </a>
     
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/crops"  routerLinkActive="active" aria-expanded="false"
                aria-controls="tables">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Crops</span>
            </a>
     
        </li>
    </ul>
</nav>
