<div class="col-lg-12 grid-margin stretch-">
    <div class="col-md-6 grid-margin transparent ">
        <div class="row">
          <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-light-danger">
              <div class="card-body">
                <h1 class="fs-30 mt-4 text-center">Farmers</h1>
                <p class="text-center" *ngIf="farmers">{{ farmers.length }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <h1 class="fs-30 mt-4 mb-4 text-center">Crops</h1>
                <p class="text-center" *ngIf="crops">{{ crops.length }}</p>
              </div>
            </div>
          </div>
        </div>

<!--         
        <div class="row">
          <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
            <div class="card card-light-blue">
              <div class="card-body">
                <p class="mb-4">Number of Meetings</p>
                <p class="fs-30 mb-2">Crops</p>
                <p>2.00% (30 days)</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 stretch-card transparent">
            <div class="card card-light-danger">
              <div class="card-body">
                <p class="mb-4">Number of Clients</p>
                <p class="fs-30 mb-2">47033</p>
                <p>0.22% (30 days)</p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
